.logo img{
    width: 100px;
    height: 100%;
}
.header-page{
    padding-top: 20px;
}
.search-box{
    width: 500px;
}
.search-box input{
    height: 50px;
    padding-left: 35px;
    border: 1px solid black;
}
.service{
    padding-left: 10px;
}
.input{
    align-items: flex-end;
}
.logo-2 img{
    width: 70px;
    height: 100%;
}
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}